<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <h1>Homepage</h1>
    <h3>Login with Google to create your own personal watchlist</h3>
    <div class="logout">
    <a href="/auth/google">Login</a>
    </div>
    <!--Could add public watchlists-->
</body>
</html>