
body{
    background-color: #14181C;
}

h1, h2 {
    color:#EBEEF0;
    margin:0;
    text-align:center;
}

.logout{
    margin:0;
    text-align:center;
    font-size:26px;
    color: #EBEEF0;
}

.logoutLink:visited{
    color:#EBEEF0;
}

.logoutLink:hover{
    color:orange;
}

form {
    padding:10px;
}


.toWatch h3, .watched h3 {
    color:#EBEEF0;
    text-align:center;
    text-decoration: underline;
}


ul{
    list-style-type:none;
    display:flex;
    flex-wrap:wrap;
}


.completed {
    display:none;
}


.not{
    color:darkgreen;
}

.filmPic{
    width:200px;
    height:300px;
}

.searchFilm{
margin:0;
text-align:center;
}


.fa-trash-can{
    color: #EBEEF0;
}

.del{
    display:block;
    text-align:center;
}

.filmList{
    padding:3px;
}