h1 {
    color:red;
    margin:0;
    text-align:center;
}


h2{
    margin:0;
    text-align:center;
}

form {
    padding:10px;
}

.completed {
    text-decoration: line-through;
    color:grey;
}


.not{
    color:darkgreen;
}