
body{
    background-color: #14181C;
}

h1 {
    color:#EBEEF0;
    margin:0;
    text-align:center;
}




h2{
    margin:0;
    text-align:center;
    color:#EBEEF0;
}

.logout{
    margin:0;
    text-align:center;
    font-size:26px;
    color: #EBEEF0;
}

.logoutLink:visited{
    color:#EBEEF0;
}

.logoutLink:hover{
    color:orange;
}

form {
    padding:10px;
}

ul{
    list-style-type:none;
    display:flex;
    flex-wrap:wrap;
}


.completed {
    text-decoration: line-through;
    color:grey;
}


.not{
    color:darkgreen;
}

.filmPic{
    width:200px;
    height:300px;
}

.searchFilm{
margin:0;
text-align:center;
}